<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Skriv inn din kontaktinformasjon</p>
    <form method="POST">
        <label for="kontaktinfo">Din epost</label>
        <input type="text" name="kontaktinfo">
        <label for="klage">Din melding til oss</label>
        <input type="text" name="klage">
        <button type="submit">Send</button>
    </form>
</body>
</html>